<!-- Header -->
<header>
  <nav>
    <a href="#" class="logo">Dev<span>Portfolio</span>.</a>
    <div class="menu-btn" id="menuBtn">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links" id="navLinks">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header>
